HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

CUSTOMER_TODO.md
PRODUCT_H2_MIGRATION_TODO.md

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.VolumeIcon.icns


DOCUMENTACAO_TECNICA_ECOMMERCE.html
DOCUMENTACAO_TECNICA_ECOMMERCE.pdf
